.footer {
    background-color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #555;
    margin-top: 15%;
    padding-bottom: 0;
    clear: both;
    z-index: 1; 
    position: relative; 
}


.footer-links a{
    font-size: 16px;
    font-weight: 600;
    color: #555;
}

.footer-policy a{
    font-size: 14px;
    font-weight: 500;
    color: #aaa !important;
    text-align: left !important;
}


.footer-links,
.footer-policy {
    margin: 10px 0;
}

.footer-links a,
.footer-policy a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.footer-links a:hover,
.footer-policy a:hover {
    color: #000;
}

.footer-social {
    margin: 10px 0;
    align-items: end;
    text-align: right;
}

.social-icon {
    margin: 0 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
}

/* .facebook {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg");
}

.twitter {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6f/Logo_of_Twitter.svg");
}

.instagram {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png");
} */

.footer-brand {
    margin-top: 50px !important;
    color: #aaa;
    text-align: center;
    margin-top: 20px;
}

.brand-name{
    font-size: 16px;
    font-family: outfit;
    font-weight: 400;
}

@media (max-width: 576px) {
    .footer {
        height: 250px;
    }
}